<section class="scroll-mt-24" id="faq">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="">
      <h2 class="text-3xl tracking-tighter font-light lg:text-4xl text-black">
        The answers to the most <span class="block"
          >popular frequent questions
        </span>
      </h2>
      <p class="mt-5 text-black">
        Dog dog woof!
      </p>

    </div>
    <div x-data="{selected:null}">
      <ul
        class="list-none text-black bg-white rounded-3xl divide-y divide-zinc-200 mt-8"
        role="list"
        @click="open = !open"
      >
        <li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 1 ? selected = 1 : selected = null"
            type="button"
          >
            <div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                Where I can buy tokens?
              </p>
              <svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
            x-ref="container1"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              $PNR has launched on XRP Ledger. You can buy $PNR <a
                class="text-blue-500 hover:text-black"
                href="https://firstledger.net/">here</a
              >.
            </div>
          </div>
        </li><li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 2 ? selected = 2 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                Tokenomics
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              100 Billion Total Supply
            </div>
          </div>
        </li><li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 3 ? selected = 3 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                What is $PNR?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 3 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              A fidget spinner is a toy that consists of a ball bearing in the center of a multi-lobed (typically three-lobed) flat structure made from metal or plastic with metal weights in the lobes, designed to spin around its central axis. Fidget spinners became very prevalent trending toys in 2017. 
            </div>
          </div>
        </li><li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 4 ? selected = 4 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                Our Vision
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 4 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              Long term build crypto spinning community
            </div>
          </div>
        </li>
        <li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 5 ? selected = 5 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                Community
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 5 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              Join our community on X group chat to discuss about the future of memes.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
