<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
     <h2
        class="text-2xl tracking-tighter  font-light lg:text-4xl text-black"
      >
    How to buy tokens
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        Create your XRP wallet on First ledger and send $XRP from your exchange.
        <br /><br />
        I'll tackle each request step by step, and feel free to ask for as many tweaks as you need.






      </p>
    </div>
  </div>
</section>
